

<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="side-nav"
               [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
               [fixedBottomGap]="options.value.bottom">
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of links" [routerLink]="[{ outlets: { n: [link.link, (link.params ? link.params: '') ] } }]"> {{ link.name }}
        <span *ngIf="link.notification && notifications" class="round-notification"> {{notifications}} </span>
      </a>
      <a mat-list-item routerLink="/logout">Logout</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet name="n"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
