<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
  <h4>Self Checkup (Beta)</h4>

  <h5 class="m-b-10">Select Symptoms to diagnose a disease.</h5>

  <form method="post" class="m-b-10" [formGroup]="options" (ngSubmit)="checkSymptoms()">

    <div class="m-b-10">
      <!--<label class="m-b-10">Select Symptoms to diagnose a probable disease</label>-->
      <!--<mat-grid-list cols="8" rowHeight="40px">-->

      <!--<mat-grid-tile *ngFor="let symptom of symptoms">-->
      <div class="row">
        <div class="col col-sm-2" *ngFor="let symptom of symptoms" (ngModel)="symptoms">
          <mat-checkbox (change)="checkboxClicked($event)" value="{{symptom}}" formGroupName="symptoms">{{symptom}}
          </mat-checkbox>
        </div>
      </div>
      <!--</mat-grid-tile>-->
      <!--</mat-grid-list>-->
      <label *ngIf="totalChecboxClicked < 5"> *Select minimum of five symptoms to proceed.</label>
    </div>

    <!--<div class="container row">-->
    <!--<div class="col col-md-2" *ngFor="let symptom of symptoms">-->
    <!--<mat-checkbox>{{symptom}}</mat-checkbox>-->
    <!--</div>-->
    <!--</div>-->
    <button type="submit" [disabled]="!options.valid || totalChecboxClicked < 5" mat-raised-button color="primary">
      Submit
    </button>

  </form>

  <div *ngIf="diagnoseResults">
    <h3 class="jumbotron">
      As per our data, the predicted disease is : {{ diagnoseResults }}
    </h3>
    <p>*This is just a prediction based on the data we received. If symptoms exceeds more than a week please consider
      visiting a doctor.</p>
  </div>
</div>
